<center> <h1> Análisis del archivo "datos_seguros.csv" </h1> </center>

--------

Estudiante: Ing. Daniel Ali ALviarez Arvelay

Tefl. +58 412-8970997

linkedIn: https://www.linkedin.com/in/daniel-alviarez/

Email: alviarezali4@gmail.com

----------------

A continuación se procederá a realizar diferentes pasos en un DataFrame donde añadiremos varias columnas donde se evidenciarán nuevas metrias de interes.

##### Paso 1. Importamos las librerias que se usaran en el análisis y cargaremos los datos que utilizaremos.

In [1]:
import pandas as pd

In [2]:
data = {'Mes':['Enero', 'Febrero','Marzo','Abril','Mayo'],
        'Ventas':[30500,35600,28300,33900,42500],
        'Gastos':[22000,23450,18100,35700,32450]
        }

df = pd.DataFrame(data)
print(df.head())

       Mes  Ventas  Gastos
0    Enero   30500   22000
1  Febrero   35600   23450
2    Marzo   28300   18100
3    Abril   33900   35700
4     Mayo   42500   32450

##### Paso 2. Se comienza a tratar el DateFrame

In [3]:
'''Agregamos una nueva columna que llevará el nombre de columna 1 donde se representa el porcentaje
de gasto en relacion a las ventas'''

df["Columna 1"]= (df["Gastos"]/df['Ventas'])*100
print(df)

       Mes  Ventas  Gastos   Columna 1
0    Enero   30500   22000   72.131148
1  Febrero   35600   23450   65.870787
2    Marzo   28300   18100   63.957597
3    Abril   33900   35700  105.309735
4     Mayo   42500   32450   76.352941

In [4]:
'''Anadimos una <<columna 2>> donde dira "Meta Superada" si el valor de ventas es mayor a 30000
y en vaso contrario dirá "Meta No Superada" '''

#import numpy as np
# df['Columna 2'] = np.where(df["Ventas"]>=30000, "Metas Superada", "Meta No Superada")
df["Columna 2"] = ["Meta Superada" if v >= 30000 else "Meta No Superada" for v in df["Ventas"]]
print(df)

       Mes  Ventas  Gastos   Columna 1         Columna 2
0    Enero   30500   22000   72.131148     Meta Superada
1  Febrero   35600   23450   65.870787     Meta Superada
2    Marzo   28300   18100   63.957597  Meta No Superada
3    Abril   33900   35700  105.309735     Meta Superada
4     Mayo   42500   32450   76.352941     Meta Superada

In [5]:
'''En la ultima columna que lleva como nombre <<Columna 3>> se verá la diferencia entre los Gastos
y las Ventas si el primero es mayor al segundo, de lo contrario, el resultado será 0. (Sobre gasto)'''

df["Columna 3"] = [x-v if x>v else 0 for x,v in zip(df["Gastos"], df["Ventas"])]
print(df.head())

       Mes  Ventas  Gastos   Columna 1         Columna 2  Columna 3
0    Enero   30500   22000   72.131148     Meta Superada          0
1  Febrero   35600   23450   65.870787     Meta Superada          0
2    Marzo   28300   18100   63.957597  Meta No Superada          0
3    Abril   33900   35700  105.309735     Meta Superada       1800
4     Mayo   42500   32450   76.352941     Meta Superada          0

In [6]:
#El total de ventas de los ultimos 3 meses

print(f"El total de ventas de los últimos 3 meses es {df.tail(3)['Ventas'].sum()}")

El total de ventas de los últimos 3 meses es 104700

In [7]:
# El total de gastos de Febrero a Abril

print(f"El total de gastos de Febrero a Abril es {df.iloc[1:3,df.columns.to_list().index('Gastos')].sum()}")

El total de gastos de Febrero a Abril es 41550