<center> <h1> Análisis del archivo "datos_seguros.csv" </h1> </center>

-------------------------------------
Estudiante: Ing. Daniel Ali ALviarez Arvelay

Tefl. +58 412-8970997

linkedIn: https://www.linkedin.com/in/daniel-alviarez/

Email: alviarezali4@gmail.com

----------------
A continuación se presentará un análisis de los datos contenidos en el archivo "datos_seguros.csv".

##### Paso 1. Importamos las librerias que se usaran en el análisis.

In [1]:
import pandas as pd

##### Paso 2. Cargamos el archivo datos_seguros.csv

In [2]:
df = pd.read_csv("../Data - Riesgos.csv")

##### Paso 3. Exploramos los datos.

In [3]:
#Visaulizamos el DataFrame

print(df.head(5))

     ID  edad  meses  max_ant  ingreso  score  tipo_vivienda  zona  nivel  \
0  2208  33.0  128.0      6.0   3230.0  192.0              2   3.0      2
1  2211  32.0  185.0      7.0   2930.0  217.0              2   1.0      5
2  2212  28.0    NaN      7.0   1883.7  202.0              2   1.0      2
3  2216  56.0  200.0      0.0    850.0  194.0              2   1.0      5
4  2218  32.0  131.0     65.0   3200.0  200.0              2   1.0      2

   riesgo
0       1
1       1
2       1
3       1
4       1

In [4]:
#Observamos algunas metricas para entender mas acerca de los datos

print(f"The number of rows in the DataFrame is {df.shape[0]} and the number of columns is {df.shape[1]}, so the number of data it contains is {df.shape[0]*df.shape[1]}.")

The number of rows in the DataFrame is 4500 and the number of columns is 10, so the number of data it contains is 45000.

In [5]:
print(f"The names of the columns in the DataFrame are {', '.join(x for x in df.columns.to_list())}.")

The names of the columns in the DataFrame are ID, edad, meses, max_ant, ingreso, score, tipo_vivienda, zona, nivel, riesgo.

In [6]:
print(f"The data types of the columns are listed below by column:\n{df.dtypes}")

The data types of the columns are listed below by column:
ID                 int64
edad             float64
meses            float64
max_ant          float64
ingreso          float64
score            float64
tipo_vivienda      int64
zona             float64
nivel              int64
riesgo             int64
dtype: object

In [7]:
#Listamos las primeras 10 filas

print("The first 10 rows of the DataFrame are listed below:")
print(df.head(10))

The first 10 rows of the DataFrame are listed below:
     ID  edad  meses  max_ant  ingreso  score  tipo_vivienda  zona  nivel  \
0  2208  33.0  128.0      6.0   3230.0  192.0              2   3.0      2
1  2211  32.0  185.0      7.0   2930.0  217.0              2   1.0      5
2  2212  28.0    NaN      7.0   1883.7  202.0              2   1.0      2
3  2216  56.0  200.0      0.0    850.0  194.0              2   1.0      5
4  2218  32.0  131.0     65.0   3200.0  200.0              2   1.0      2
5  2219  34.0  145.0      6.0   7000.0  196.0              2   5.0      2
6  2226   NaN  114.0      0.0   2171.5  178.0              2   2.0      1
7  2227  27.0  116.0      0.0    800.0  169.0              2   1.0      5
8  2228  26.0  182.0      6.0   3150.0  190.0              4   3.0      5
9  2230  25.0  154.0      1.0   2600.0  189.0              2   1.0      2

   riesgo
0       1
1       1
2       1
3       1
4       1
5       1
6       1
7       1
8       1
9       1

In [8]:
#Listamos las ultimas 10 filas

print("The last 10 rows of the DataFrame are listed below:")
print(df.tail(10))

The last 10 rows of the DataFrame are listed below:
        ID  edad  meses  max_ant   ingreso  score  tipo_vivienda  zona  nivel  \
4490  1486  59.0  288.0      0.0  30000.00  207.0              2   1.0      2
4491  1487  55.0  294.0     57.0   9300.00  238.0              4   1.0      2
4492  1488  53.0  148.0    106.0  30000.00  219.0              4   1.0      2
4493  1491  29.0  198.0     94.0   5250.00  214.0              2   1.0      2
4494  1493  32.0  195.0     41.0   7500.00  219.0              2   1.0      2
4495  1494  54.0  510.0     87.0  24000.00  214.0              2   1.0      2
4496  1495  63.0  305.0     99.0   9880.73  219.0              2   5.0      2
4497  1496  48.0  194.0    124.0  23000.00  224.0              4   1.0      2
4498  1497  39.0  245.0    121.0  12450.00  240.0              4   5.0      2
4499  1499  65.0  674.0     38.0  20000.00  238.0              4   5.0      2

      riesgo
4490       0
4491       0
4492       0
4493       0
4494       0
4495       0
4496       0
4497       0
4498       0
4499       0

In [9]:
#Revisamos si existen datos nulos en los datos

print("Checking if there are null values in the DataFrame:")
print(df.isnull().sum())

Checking if there are null values in the DataFrame:
ID                0
edad             13
meses             6
max_ant           4
ingreso           5
score             5
tipo_vivienda     0
zona              6
nivel             0
riesgo            0
dtype: int64

In [10]:
#Copiamos las primeras 1000 filas en una nueva variable.

df_1000 = df.head(1000).copy()
print("The first 1000 rows of the DataFrame have been stored in a new DataFrame called df_1000.")

The first 1000 rows of the DataFrame have been stored in a new DataFrame called df_1000.